{% extends 'base.html' %}
{% block title %}Информация о категории{% endblock %}
{% include 'header.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о категории</h1>
    <p class="lead">{{category.category_name}}</p>
    <p class="lead">Описание: {{category.category_description}}</p>
    <p class="lead">Список всех продуктов:</p>
    <div class="container">
        <div class="row text-center">
            {% for product in products %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{product.product_name}}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{product.price_product}}</h1>
                        <p class="list-unstyled mt-3 mb-4 text-start m-3">
                            {{product.product_description|truncatechars:100}}</p>
                        {% if user.is_authenticated %}
                        <a class="p-2 btn btn-outline-primary"
                           href="{% url 'catalog:product_details' product.pk %}">Купить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Вернуться к продуктам</a>
    </div>
    {% endblock %}
</div>
